body *  {
    text-align: center;
    font-family: "JetBrains Mono", monospace;
    color: #52ff00;
    font-size: 20px;
    font-weight: normal;
}

body{
    background: #000000;
    display: flex;
    justify-content: center;
}

.container {
    background-color: #000000;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
}


.Nadpis{
    align-self: center;
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: 10px;
    animation: typing 3.5s steps(19, end);
}

.Text{
    align-self: center;
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: 5px;
    width: 0;
    animation: typing 3.5s steps(30, end);
    animation-delay: 5s;
    animation-fill-mode: forwards;
}

.Overenie{
    align-self: center;
    margin-top: 50px;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: typing 3.5s steps(30, end);
    animation-delay: 9s;
    animation-fill-mode: forwards;
}



.Nadpis2{
    align-self: center;
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: 10px;
    animation: typing 3.5s steps(19, end);
}

.Text2{
    align-self: center;
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: 5px;
    width: 0;
    animation: typing 3.5s steps(30, end);
    animation-delay: 5s;
    animation-fill-mode: forwards;
}

.Overenie2{
    align-self: center;
    margin-top: 50px;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: typing 3.5s steps(30, end);
    animation-delay: 9s;
    animation-fill-mode: forwards;
}

.Overenie3{
    align-self: center;
    margin-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: typing 3.5s steps(30, end);
    animation-delay: 9s;
    animation-fill-mode: forwards;
}

.captcha{
    display: flex;
    width: 300px;
}

.Checkboxes{

    margin: 0px;
    bottom: 315px;
    position: relative;
}

.Checkboxes>div>input{
    accent-color: #52ff00;
    opacity: 0;
    margin: 0px;
    width: 100px;
    height: 100px;
    box-shadow: #52ff00 0px 0px 8px 5px;
}

.Checkboxes>div>input:checked{
    opacity: 0.5;
}

.Overit{
    position: relative;
    bottom: 315px;
}

img{
    height: 100px;
    width: 100px;
}

@keyframes typing {
    from { width: 0; padding: 10px}
    to { width: 100%; padding: 10px}
}


input{
    border-color: #52ff00;
    background-color: transparent;
    border-style: solid;
    border-width: 2px;
    font-size: 20px;
}

button:hover{
    text-decoration: underline;
}

button{
    color: #52ff00;
    background-color: transparent;
    height: 25px;
    border: none;
}

